*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: rgba(11, 113, 111, 0.803); */
}
header{
    background-color: rgba(0, 0, 0, 0.461);
    height: 70px;
    width: 100%;
    color: #ffffff;
}
header h2{
    line-height: 70px;
    padding-left: 20px;
}
.mockups{
    margin-top: -40px;
    width: 100%;
    display: flex;
    justify-content: right;
}
.mockups h4{
    font-size: 600;
    padding-bottom: 21.5px;
    padding-left: 25px;
    padding-right: 35px;
}
h3 {
    line-height: 70px;
    padding-left: 10px;
}
.popover, .pipover{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    display: none;
    background-color:  rgba(0, 0, 0, 0.461);
    /* border: 1px solid #DDDDDD;
    border-radius: 4px; */
    border: 1px solid none;
    border-radius: 1px;
}
.match:hover > .popover{
    display: block;
}
.live:hover > .pipover{
    display: block;

    

}
.popover h4, .pipover h4{
    padding-left: 10px;
}
.live h4{
    padding-bottom: 22px;
    padding-left: 10px;
    text-align: right;
}