*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: rgba(11, 113, 111, 0.803); */
}
header{
    background-image: url(images/logo4.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-color: rgba(0, 0, 0, 0.461);
    height: 70px;
    width: 100%;
    color: #ffffff;
}
header h2{
    line-height: 70px;
    padding-left: 70px;
}
.mockups{
    margin-top: -40px;
    width: 100%;
    display: flex;
    justify-content: right;
}
.mockups h4{
    font-size: 600;
    padding-bottom: 21.5px;
    padding-left: 25px;
    padding-right: 35px;
}
h3 {
    line-height: 70px;
    padding-left: 10px;
}
.popover, .pipover, .login{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    display: none;
    background-color:  rgba(0, 0, 0, 0.461);
    /* border: 1px solid #DDDDDD;
    border-radius: 4px; */
    border: 1px solid none;
    border-radius: 1px;
}
.match:hover > .popover,
.live:hover > .pipover,
.Login:hover > .login{
    display: block;
}
.popover h4, .pipover h4{
    padding-left: 10px;
}
.live h4{
    padding-bottom: 22px;
    padding-left: 10px;
    text-align: right;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}
h1 {
    text-align: center;
    color: #f98900;
}
p{
    text-align: center;
    color: #ffffff;
}
a:hover,
.live:hover,
.match:hover,
.login:hover,
.Login:hover{
    color: #f98900;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.login{
    color: #ffffff;
}

